In [1]:
from prepross import *
import numpy as np
pd.options.display.max_rows = 100

In [2]:
config = Config()

In [4]:
config.clean_mode

['rm_small_sess', 'rm_small_users']

In [5]:
df = Data_handler(config)
df.data = df.get_masked_data(users = df.users[:1], fracs = [0.5])
df.data = create_session(df.data, config)
df.data = clean_data(df.data, config)
df.data = cut_sessions(df.data, config)
config.clean_mode = ['rm_small_sub_session']
df.data = clean_data(df.data, config)
df.data

,user_id,timestamp,artist_name,track_name,Session,sub_session
0,user_000001,2006-08-13 13:59:20+00:00,Plaid & Bob Jaroc,The Launching Of Big Face,U0S1,1
1,user_000001,2006-08-13 14:10:43+00:00,Plaid & Bob Jaroc,The Return Of Super Barrio - End Credits,U0S1,1
2,user_000001,2006-08-13 14:19:06+00:00,Artful Dodger,What You Gonna Do?,U0S1,1
3,user_000001,2006-08-13 14:23:03+00:00,Rei Harakami,Joy,U0S1,1
4,user_000001,2006-08-13 14:55:14+00:00,Herbie Hancock,The Essence,U0S1,1
...,...,...,...,...,...,...
4671,user_000001,2008-07-05 14:56:00+00:00,Underworld,Two Months Off,U0S410,2
4672,user_000001,2008-07-05 15:05:09+00:00,Underworld,Twist,U0S410,2
4673,user_000001,2008-07-05 15:18:38+00:00,Steve Reich,Drumming: Part Ii,U0S410,2
4674,user_000001,2008-07-05 15:31:54+00:00,Doopees,How Does It Feel,U0S410,3
4675,user_000001,2008-07-05 15:35:33+00:00,Doopees,Reprise (How Does It Feel),U0S410,3

In [10]:
df.data[(df.data.user_id == df.users[0]) & (df.data.Session == 'U0S2')]

,user_id,timestamp,artist_name,track_name,Session,sub_session
35,user_000001,2006-08-15 12:27:51+00:00,Chari Chari,One,U0S2,1
36,user_000001,2006-08-15 12:28:53+00:00,Chari Chari,Sound Of Joy,U0S2,1
37,user_000001,2006-08-15 12:35:28+00:00,Chari Chari,Dil Ki Dharkan,U0S2,1
38,user_000001,2006-08-15 12:42:11+00:00,Chari Chari,Liberation,U0S2,1
39,user_000001,2006-08-15 12:57:01+00:00,Chari Chari,Remains,U0S2,1
40,user_000001,2006-08-15 13:02:00+00:00,Chari Chari,Folk Tales,U0S2,2
41,user_000001,2006-08-15 13:13:59+00:00,Chari Chari,Aurora,U0S2,2
42,user_000001,2006-08-15 13:23:25+00:00,Chari Chari,Plain Sailing,U0S2,2
43,user_000001,2006-08-15 13:30:04+00:00,Chari Chari,Landing,U0S2,2
44,user_000001,2006-08-15 13:41:18+00:00,Prefuse 73,Detchibe,U0S2,2
45,user_000001,2006-08-15 13:45:22+00:00,Roni Size & Reprazent,Watching Windows,U0S2,3
46,user_000001,2006-08-15 13:51:01+00:00,Boom Boom Satellites,Ride On,U0S2,3
47,user_000001,2006-08-15 13:59:27+00:00,Kyoto Jazz Massive,Between The Lights,U0S2,3
48,user_000001,2006-08-15 14:23:00+00:00,Soundgarden,Boot Camp,U0S2,3
49,user_000001,2006-08-15 14:25:54+00:00,Tiga,Brothers / Sir Sir Sir,U0S2,3
50,user_000001,2006-08-15 14:42:14+00:00,Jimmy Edgar,Lblb Detroit,U0S2,4
51,user_000001,2006-08-15 14:48:29+00:00,Goldie,Saint Angel,U0S2,4
52,user_000001,2006-08-15 14:55:43+00:00,Rinôçérôse,Inacceptable,U0S2,4
53,user_000001,2006-08-15 15:01:56+00:00,Soul Dhamma,Flower (The Underwater Garden Dub Aka Scuba Mix),U0S2,4
54,user_000001,2006-08-15 15:11:03+00:00,Roni Size & Reprazent,Let'S Get It On,U0S2,4